.language-select {
	margin-right: 2em;
	background-color: var(--background);
	border: 1px;
	border-style: solid;
	border-color: var(--red);
	color: var(--red);
	font-size: large;
}

.toggle {
	margin-left: 0em;
	background-color: var(--background);
	border: 0px;
	color: var(--blue);
	font-weight: bold;
	padding: 0;
	font-size: medium;
}

.toggle:hover {
	color: var(--red);
}
