.about-me-container {
	margin-left: 0;
	font-size: 1.5rem;
	max-width: 450px;
}

.about-me-container a {
	text-underline-offset: 2px;
}

.about-me-name {
	font-weight: 700;
}

.gregg-logo {
	margin: 0;
}
