@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700;800;900&display=swap%27");

:root {
	--blue: #1480ff;
	--blue-background: #1480ff1a;
	--red: #f06648;
	--red-background: #f066481a;
	--background: #eae5da;
}

[data-theme="dark"] {
	--blue: #3ea2ff;
	--blue-background: #3ea2ff1a;
	--red: #a8412a;
	--red-background: #a8412a1a;
	--background: #241e18;
}

body {
	color: var(--blue);
	background-color: var(--background);
	margin: 0;
	font-family: "Public Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transition: background-color ease 0.2s;
}

a {
	transition: color ease 0.2s;
}

a:link {
	color: var(--blue);
}
a:visited {
	color: var(--blue);
}
a:hover {
	color: var(--red);
}
a:active {
	color: var(--red);
}
