.theme-default {
  --text: #dadada;
  --background: #1f2023;
}

.theme-alternate {
  --text: #1f2023;
  --background: #dadada;
}

@media (prefers-color-scheme: light) {
  .theme-default {
    --text: #1f2023;
    --background: #dadada;
  }

  .theme-alternate {
    --text: #dadada;
    --background: #1f2023;
  }
}

body {
  color: var(--text);
  background-color: var(--background);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:link {
  color: var(--text);
}
a:visited {
  color: var(--text);
}
a:hover {
  color: var(--text);
}
a:active {
  color: var(--text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
