.swirl-container {
  text-align: left;
}

.swirl-easter-egg {
  position: absolute;
  bottom: -1000%;
}

.swirl-text {
  font-size: x-small;
  color: var(--red);
}

.swirl-quote {
  font-style: italic;
}
