.timeline-item {
  background-color: var(--blue-background);
  margin: 2em;
  border-radius: 10px;
  align-items: stretch;
  padding: 1em;
}

.timeline-item-current {
  background-color: var(--red-background);
  color: var(--red);
  margin: 2em;
  border-radius: 10px;
  align-items: stretch;
  padding: 20px;
}

.timeline-item-title {
  display: flex;
  align-items: baseline;
}

.timeline-current-badge {
  background-color: var(--red);
  color: var(--background);
  border-radius: 20px;
  padding-left: 0.5em;
  padding-right: 1em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin-left: 1.5em;
}

.timeline-body {
  margin-top: 3.5em;
}

.timeline-technologies {
  font-size: small;
  font-style: italic;
}
