.HeaderContainer {
  text-align: right;
}

.Header {
  margin: auto;
  width: 32%;
}

.OverTitle {
  text-align: left;
}

.Title {
  font-size: 3em;
  text-align: center;
}

.UnderTitle {
  text-align: right;
}
